html {
    scroll-behavior: smooth;
}

body {
    background-image: url(img/BakgrunnLOW.png);
    background-size: 100% auto;
    background-position-y: 0px;
}

#topHeader {    
    background-color: sandybrown;
}

#headerLogo {
    grid-area: headerLogo;
}

#navBar {
    grid-area: navBar;
}

#headerImage {
    grid-area: headerImage;
}

#headerLogo {
    grid-area: headerLogo;
}

#mainContent {

}

#headerImageHolder {
    grid-area: headerImage;
}

#cardDisplay {
    grid-area: cardDisplay;
}

#pageText {
    grid-area: pageText;
}

#windowSpace {
    grid-area: windowSpace;
}

#footerImage {
    grid-area: footerImage;
}

#footerContent {
    grid-area: footerContent;
}

#footerContentLeft {
    grid-area: leftFooter;
}

#footerContentCenter {
    grid-area: centerFooter;
}

#footerContentRight {
    grid-area: rightFooter;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: underline;
}

#footerContent ul{
    list-style: none;
    font-size: 300%;
    padding-left: 0px;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { /* iPad in landscape mode */
    
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { /* iPad in portrait mode */ 

}

@media screen 
and (min-width: 1024px) { /*Anything larger*/


    ul#navBar {
        list-style: none;
        color: black;
        font-size: 300%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: auto;
        margin-bottom: auto;
    }

    li.nav {
        display: inline;
        padding-right: 50px;
        text-align: center;
    }

    .arrow:hover {
        font-size: 600%;
        /*border: 1px solid grey;
        box-shadow: 20px 10px 75px 5px black;
        border-radius: 10px;*/
        cursor: pointer;
        text-shadow: 2px 6px 8px #000;
    }

    .card:hover {
        cursor: pointer;
        /*box-shadow: none;*/
        min-width: 470px;
        max-height: 313px;
        background-size: 470px;
        margin-top: 30px;
    }

    .footer {
        background: rgba(222, 216, 216, 0.5);
    }

    #topHeader {
        display: grid;
        grid-template: 'headerLogo navBar navBar navBar navBar navBar';
        width: 98%;
        grid-template-rows: 60px;
        position: fixed;
        border-radius: 0px 20px 20px 0px;
    }


    #headerLogo {
        width: 60px;
        height: 60px;
        margin-right: 100px;
        background-image: url(img/logo.png);
        background-size: 60px;
    }

    #mainContent {
        display: grid;
        grid-row-gap: 50px;
        padding-top: 100px;
        grid-template: 'headerImage headerImage headerImage headerImage' 
                        'cardDisplay cardDisplay cardDisplay cardDisplay' 
                        'pageText pageText pageText windowSpace' 
                        'pageText pageText pageText windowSpcae' 
                        'footerImage footerImage footerImage footerImage' 
                        'footerContent footerContent footerContent footerContent';
    }

    #headerImageHolder {
        width: 1800px;
        height: 200px;
        background-position-y: 800px;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;
        background-image: url("img/forside.jpg");
    }

    img.logo2 {
        width: 200px;
        height: 200px;
        max-height: 100%;
        max-width: 100%;
    }

    #cardDisplay {
        display: grid;
        grid-template-columns: 1fr 6fr 6fr 6fr 1fr;
        grid-template-rows: 400px;
        background: rgba(193, 193, 193, 0.49);
        border-radius: 15px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .card {
        /* border: 2px dashed white; */
        /*background-image: url(http://placekitten.com/450/400);*/
        background-repeat: no-repeat;
        min-width: 450px;
        max-height: 300px;
        background-size: 450px;
        margin-right: auto;
        margin-left: auto;
        opacity: 1;
        margin-top: 40px;
        margin-bottom: 10px;
        box-shadow: 20px 20px 75px 15px black;
    }

    .arrow {
        font-size: 500%;
        font-weight: bolder;
        color: white;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }

    #pageText {
        border-radius:20px;
        background-color: white;
        height: 500px;
        margin-left: 200px;
        max-width: 1000px;
        font-size: 200%;
        padding: 20px;
        box-shadow: 15px 15px 75px 15px black;
    }

    #windowSpace {

    }

    #newsletterForm {

    }

    #newsletterInput {
        margin-bottom: auto;
        margin-top: auto;
        height: 30px;
    }

    #newsletterButton {
        width: 100px;
        height: 30px;
        border-radius: 5px;
    }

    #instagramButton {
        border-radius: 5px;
    }

    #facebookButton {
        background-color: blue;
        color: white;
        border-radius: 5px;
    }

    #footerImage {
        background-image: url(img/footerLine.png);
        width: 1800px;
        height: 100px;
        margin-right: auto;
        margin-left: auto;
    }

    #footerContent {
        display: grid;
        grid-template: 'leftFooter leftFooter centerFooter rightFooter rightFooter';
        grid-template-rows: 300px;
        border: 5px solid white;
        border-radius: 15px;
    }

    #footerContentLeft {
        text-align: center;
        border-right: 2px dashed black;
    }

    #footerContentCenter {
        text-align: center;
    }

    #footerContentRight {
        text-align: center;
        border-left: 2px dashed black;
    }
}

